@page "/Admin"
@model KroellsManagement.Pages.AdminModel

	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Admin Page</title>
		<link rel="stylesheet" href="~/css/site.css">
		<script src="~/JS/TableButton.js"></script>
	</head>
	<body>

		<form method="post">
			<button type="submit" name="table" value="Adresses" class="button">Adresses</button>
			<button type="submit" name="table" value="Cards" class="button">Cards</button>
			<button type="submit" name="table" value="Clients" class="button">Clients</button>
			<button type="submit" name="table" value="CPRs" class="button">CPRs</button>
			<button type="submit" name="table" value="Employees" class="button">Employees</button>
			<button type="submit" name="table" value="Jobs" class="button">Jobs</button>
			<button type="submit" name="table" value="Loans" class="button">Loans</button>
			<button type="submit" name="table" value="Transactions" class="button">Transactions</button>
		</form>

	</body>
	</html>
