@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@*

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private sbyte currentCount = 127;

    private void IncrementCount()
    {
        currentCount++;
    }
}
 *@
 
<body style="display: flex; justify-content:center; align-items:center; min-height:100vh; margin:0;">
    <div class="container" style="border: 1px solid blue;">
        <div class="col-md-10" style="border: 1px solid black;">
            col 1
        </div>
        <div class="col-md-10" style="border: 1px solid black;">
            col 2
        </div>
    </div>
</body>
