@page "/"

<PageTitle>Management Login</PageTitle>

@* @attribute [Authorize] *@

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container" style="width:700px; height:600px; text-align:center; box-shadow: 5px 5px 10px rgba(0,0,0,0.3); border-radius: 10px;">
                
        <div id="LogoAndText" style="margin-bottom: 10px;">
            <img style="height: 450px;" src="/img/FrktLogo.png" />
        </div>

        <div id="Input">
            <EditForm name="Input" Model="@database" method="post" style="margin-bottom: 5px;">
                <InputText @bind-Value="database.Username" type="text" id="username" placeholder="Username" style=" margin-bottom: 3px" /> <br />
                <InputText @bind-Value="database.Password" type="password" id="password" placeholder="Password" />
            </EditForm>
    
            <div id="Button" style="margin-top: 20px;">
                <button type="submit" @onclick="SignIn" class="btn btn-primary"> Sign in </button>
            </div>
        </div>
    </div>
</div> 

@code
{
    Data.Database database = new Data.Database();
    @inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
    
    private async Task SignIn()
    {
        sbyte isAuthenticated = await database.DBConnection();
        
        if (isAuthenticated == 1)
        {
            NavigationManager.NavigateTo("/test", true);
        }
        else
        {
          
        }
    }
}