@page "/"

<PageTitle>Management Login</PageTitle>

<div class="container" style="text-align:center;">
    <div id="LogoAndText>" style="margin-bottom: 50px;">
        <img style="height: 450px;" src="/img/FrktLogo.png" />
    </div>

    <div id="Input">
        <form name="Username" method="post" style="margin-bottom: 5px;">
            <input style="margin-bottom: 3px" type="email" id="username" placeholder="Username" />
            <br />
            <input type="password" id="password" placeholder="Password" />
        </form>
    
        <div id="Button" style="margin-top: 20px; margin-bottom: 20px;">
            <button type="submit" class="btn btn-primary"> Sign in </button>
        </div>
    </div>
</div>
    


@code
{
    
}
