@inherits LayoutComponentBase

<PageTitle>KroellsManagement</PageTitle>

<div class="page">
    <!-- <div class="sidebar">
        <NavMenu />
    </div> -->

    <main>

        <div class="top-row px-4" style="text-align: center; display: flex; justify-content: center; align-items: center;">
            Login Page
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
